.home-page {
  height: 100vh;
}

.bg-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: top;
}

.fade{
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.home-carousel{
  width: 100vw;
  height: 100vh;
  background-size: cover;
}


.nav-arrows-container{
  position: relative;
  bottom: 25%;
  display: flex;
  justify-content: space-around;
  color: rgb(171, 171, 171);
  font-size: 45px;
}

.arrows{
  cursor: pointer;
  transition: filter 200ms;
}

.arrows:hover{
  filter: brightness(2);
}

@media screen and (max-width: 1120px) {
   .nav-arrows-container{
    position: relative;
    bottom: 600px;
    display: flex;
  }
}