.home-page {
  height: 100vh;
}

.fade{
  animation: fadeIn .5s;
  -webkit-animation: fadeIn .5s;
  -moz-animation: fadeIn .5s;
  -o-animation: fadeIn .5s;
  -ms-animation: fadeIn .5s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

.home-carousel{
  width: 100vw;
  height: 100vh;
  background-size: cover;
}


.nav-arrows-container{
  position: relative;
  bottom: -700px;
  display: flex;
  justify-content: space-around;
  color: rgb(106, 106, 106);
  font-size: 3.5vw;
}

.arrows{
  cursor: pointer;
  transition: filter 200ms;
}

.arrows:hover{
  filter: brightness(2);
}